appsettings.*.json
*.Importer-*.config
wwwroot/

.vs/
.vscode/
.fake/
.idea/
.ionide/
.paket/

[Pp]ackages/
[Pp]aket-files/
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/
[Xx]64/
[Dd]ist/
[Tt]est[Rr]esults/

*.suo
*.user
*.sln.docstates
*.ntvs*
*.njsproj

node_modules/
bower_components/
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ncrunchproject
*ncrunchsolution
_Ncrunch_*
*nCrunchTemp*
TestResults.xml
tracing*.log

.DS_Store
ehthumbs.db
Icon?
Thumbs.db

crabimport-request-*.json
structurizr-*.json
