framework: net6.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget Microsoft.Extensions.Configuration.Binder 6.0.0
nuget Microsoft.Extensions.Configuration.Json 6.0.0
nuget Microsoft.Extensions.Logging 6.0.0

nuget AWSSDK.Core 3.7.106.8
nuget AWSSDK.DynamoDBv2 3.7.102.15

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 6.0.3

// TEST STUFF
nuget Ductus.FluentDocker 2.10.55
nuget Microsoft.NET.Test.Sdk 17.1.0
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.3
nuget FluentAssertions 6.5.1

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
